:root {
  --gradient: radial-gradient(
    #ffffff,
    #e82626,
    #a19f9f,
    #ff0000,
    #323131,
    #000000
  );
}

.gradient-animation {
  background-size: 110%;
  background-image: var(--gradient);
  animation: bg-animation 2s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
